# Ignore screenshots directory
screenshots/
captures/
video_archive/
# Ignore all CSV files
*.csv

*.avi
# Ignore all video files with .mov extension
*.mov

# Ignore model files with .pt extension
*.pt